﻿
@model WebApplication4.ViewModels.BMIData

<h2>BMI計算</h2>

<form action="/BMI/Index" method="post">

    <p>身高 @Html.TextBoxFor(m => m.Height) 公分</p>
    <p>體重 @Html.TextBoxFor(m => m.Weight)  公斤</p>

    <p><input type="submit" name="name" value="送出" /></p>
</form>

<p>計算結果:@Model.Result</p>
<p>等級:@Model.Level</p>